.MuiInputBase-input  {
    background: white;
}
.MuiTextField-root {
    background: white;
}

.mainCard {
  border-color: #A6CF98 !important;
  border-width: 0.3vw !important;
}

.signincard {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  .signinRedirectionLink{
    color: blue !important;
  }

  .mainBtn {
    color: white !important;
  }