.signupcard {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.mainCard {
  border-color: #A6CF98 !important;
  border-width: 0.3vw !important;
}

.signupBtn {
  color: white !important;
}

.addPhotoBtn {
  color: #A6CF98 !important;
}

.signupRedirectionLink{
  color: blue !important;
}