.MuiInputBase-input  {
    background: white;
}
.MuiTextField-root {
    background: white;
}
.signupcard {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}